// 반응형 레이아웃을 위한 브레이크포인트
/* 
  사용 예시:
  @media (min-width: $breakpoint-md) {
    .container {
      width: 100%;
    }
  }
*/
$breakpoint-phone: 640px; // 작은 화면 (휴대폰)
$breakpoint-tablet: 768px; // 중간 화면 (태블릿)
$breakpoint-desktop: 1024px; // 큰 화면 (데스크톱)
$breakpoint-desktop-xl: 1280px; // 매우 큰 화면 (대형 데스크톱)
$breakpoint-desktop-2xl: 1536px; // 초대형 화면
